<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="app">
        <p><input type="text" v-model='a'></p>
        <p><input type="text" v-model='b'></p>
        <p><input type="text" v-model='c' @input='change'></p>
        <p>{{handler()}}</p>
    </div>
    <script>

        new Vue({
            el:"#app",
            data:{
                a:'所选之路',
                b:'为足球而生',
                c:''
            },
            methods: {
                handler(){
                    this.c=this.a+'-'+this.b
                },
                change(){
                    let arr=this.c.split('-')
                    this.a=arr[0]
                    this.b=arr[1]
                }
            },
        })
    </script>
</body>



<!-- <body>
    <div id="app">
        <p><input type="text" v-model='a'></p>
        <p><input type="text" v-model='b'></p>
        <p><input type="text" v-model='c' @input='change'></p>
        <p>{{handler()}}</p>
    </div>
    <script>

        new Vue({
            el:"#app",
            data:{
                a:'所选之路',
                b:'为足球而生',
                c:''
            },
            methods: {
                handler(){
                    this.c=this.a+'-'+this.b
                },
                change(){
                    let arr=this.c.split('-')
                    this.a=arr[0]
                    this.b=arr[1]
                }
            },
        })
    </script>
</body> -->



<!-- <body>
    <div id="app">
        <p><input type="text" v-model='a'></p>
        <p><input type="text" v-model='b'></p>
        <p><input type="text" v-model='c' @input='change'></p>
        <p>{{handler()}}</p>
    </div>
    <script>

        new Vue({
            el:"#app",
            data:{
                a:'所选之路',
                b:'为足球而生',
                c:''
            },
            methods: {
                handler(){
                    this.c=this.a+'-'+this.b
                },
                change(){
                    let arr=this.c.split('-')
                    this.a=arr[0]
                    this.b=arr[1]
                }
            },
        })
    </script>
</body> -->
</html>