<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <p>姓：<input type="text" v-model='name'></p>
        <p>名：<input type="text" v-model='name1'></p>
        <p>姓名：<input type="text" v-model='names'></p>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                name: "李",
                name1: '白',
                names: '李-白'
            },
            watch: {
                name: {
                    handler(newValue, oldValue) {
                        console.log(newValue, oldValue);
                        this.names=newValue+'-'+this.name1
                    }
                },
                name1: {
                    handler(newValue, oldValue) {
                        console.log(newValue, oldValue);
                        this.names=this.name+'-'+newValue
                    }
                },
                names: {
                    immediate:true,
                    handler(newValue, oldValue) {
                        console.log(newValue, oldValue);
                        let arr=newValue.split('-')
                        this.name=arr[0]
                        this.name1=arr[1]
                    }
                },
            }
        })
    </script>
</body>
<!-- <body>
    <div id="app">
        <p>姓：<input type="text" v-model='name'></p>
        <p>名：<input type="text" v-model='name1'></p>
        <p>姓名：<input type="text" v-model='names'></p>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                name: "李",
                name1: '白',
                names: '李-白'
            },
            watch: {
                name: {
                    handler(newValue, oldValue) {
                        console.log(newValue, oldValue);
                        this.names=newValue+'-'+this.name1
                    }
                },
                name1: {
                    handler(newValue, oldValue) {
                        console.log(newValue, oldValue);
                        this.names=this.name+'-'+newValue
                    }
                },
                names: {
                    immediate:true,
                    handler(newValue, oldValue) {
                        console.log(newValue, oldValue);
                        let arr=newValue.split('-')
                        this.name=arr[0]
                        this.name1=arr[1]
                    }
                },
            }
        })
    </script>
</body> -->


<!-- <body>
    <div id="app">
        <p>姓：<input type="text" v-model='name'></p>
        <p>名：<input type="text" v-model='name1'></p>
        <p>姓名：<input type="text" v-model='names'></p>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                name: "李",
                name1: '白',
                names: '李-白'
            },
            watch: {
                name: {
                    handler(newValue, oldValue) {
                        console.log(newValue, oldValue);
                        this.names=newValue+'-'+this.name1
                    }
                },
                name1: {
                    handler(newValue, oldValue) {
                        console.log(newValue, oldValue);
                        this.names=this.name+'-'+newValue
                    }
                },
                names: {
                    immediate:true,
                    handler(newValue, oldValue) {
                        console.log(newValue, oldValue);
                        let arr=newValue.split('-')
                        this.name=arr[0]
                        this.name1=arr[1]
                    }
                },
            }
        })
    </script>
</body> -->

</html>